<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    
<!-- bioler plate refers to the code which exists everywhre on the each page need 
not to write the same piece of code again and again same as footer and the navbar part -->

<h1> Wanderlust  </h1>
<div class="container">
    <%- body %>
</div>


</body>
</html>