<% layout("/layouts/boilerplate")  %> 

<!-- taking the common content from the biolerplate.ejs file to render it here instead of writing all html code  -->

    

<body>
    <h3>All listings</h3>

    <!-- <form method="GET" action="/listings/new">
        <button> Create new listings</button>
    </form> -->

    <!-- no need of this as now its written in navbar.ejs file in button  -->

    <ul>
        <% for (let listing of alllistings) { %>
           
             
            <li><a href="/listings/<%= listing._id %>"><%= listing.title%> </a></li> <!-- redirecting to the link to view each in detail -->
           
            <% } %>
    </ul>

</body>
