<% layout("/layouts/boilerplate") %>

<body>

    <h3>All listings</h3>

    <div class="row row-cols-lg-3">
        <% if (alllistings && alllistings.length > 0) { %>
            <% for (let listing of alllistings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card" style="width:20rem">
                        <img src="<%= listing.image %>" class="card-img-top" style="height:20rem"/>
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br />
                                <% if (listing.price) { %>
                                    ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                                <% } %>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <p>No listings available</p>
        <% } %>
    </div>

</body>
