<% layout("/layouts/boilerplate") %>

 <!-- form control class gives to orgnanise the given div properly as per form like  -->

 <!-- In a form always give the class such as form-label ,form-control for input boxes which are bootstraped classes improve frontend ui -->
 
    <body>


        <br><br>
    
        <div class="main">

            <h3> Add new Listing </h3>
            <form action="/listings" method="POST" >
    
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Title" class="form-control"  required>
                   
                </div><br>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" placeholder="Description"  class="form-control" required ></textarea>
    
                </div><br>

                <div>
                    <label for="image" class="form-label">Image </label>
                    <input type="text" name="listing[image]" placeholder="image url"  class="form-control" >
    
                </div><br>
    
                <div>
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="Price"  class="form-control" required>
    
                </div><br>
    

                
                    <div>
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Location"  class="form-control" required>
        
                    </div><br>
        
                    <div>
                        <label for="country" class="form-label ">Country</label>
                        <input type="text" name="listing[country]" placeholder="Country"  class="form-control" required> 
        
                    </div>
               
          
                <br><br>
    
                <button type="submit" class="btn btn-dark add-btn">Create Listing</button>

                <br><br>
    
            </form>
    
        </div>


    </body>
